@model IEnumerable<FashionDream.Models.Product>

@{
    ViewBag.Title = "ShowProduct";
    Layout = "~/Views/Shared/_LayoutPage3.cshtml";
}
<br /><br /><br />
<p>
    @Html.ActionLink("Back", "Display")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            <img src="@Url.Content(item.ProductImage)" width="150" height="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPrice)
        </td>
        <td>
            s
            @Html.DisplayFor(modelItem => item.ProductQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductType)
        </td>
        <td>
            @Html.ActionLink("EditProduct", "EditProduct", new { id = item.ProductID }) |
            @Html.ActionLink("DetailsProduct", "DetailsProduct", new { id = item.ProductID }) |
            @Html.ActionLink("DeleteProduct", "DeleteProduct", new { id = item.ProductID })
        </td>
    </tr>
}

</table>
